body {
    background: url("chrome://fireinput/skin/editor-background.jpg") repeat-x #9FA9B3;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 770px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 11px;
    color: #454545;
}


.localEditor {
    position: relative;
    margin: 35px auto;
    padding: 0px;
    width: 753px;
    background-color: #FFFFFF; 
}

.editorHead {
    height: 28px; 
    font-weight: bold;
    font-size: 17px;
    color: white; 
    text-align: center; 
    background-color: #6DA0D1;
    padding: 0; 
    margin: 0; 
    background: url("chrome://fireinput/skin/title-background.gif") repeat-x #75A2CE;
}

.helpHead {
    height: 25px; 
    display: block;
    padding: 0;
    margin: 0;
    background-color: #75A2CE;
}


.helpMenu {
    height: 20px; 
    float: right; 
    z-index: 100; 
    padding: 0; 
    margin: 0 2px 0 0; 
    font-weight: bold;
    font-size: 14px;
    color: white; 
}

.helpMenu:hover, .helpMenu:hover:active
{
    color: #F0F4CF; 
    cursor: pointer; 
    text-decoration: underline;
}

.editorContext {
    width: 748px; 
    height: 450px; 
    border: 2px solid #CFD9F4; 
    margin: 0; 
    background-color: #FFFFFF; 
    color: black;  
    font-size: 15px; 
}

.editorAction {
   margin: 0; 
   padding: 5px 0; 
   background-color: #9FA9B3;
   text-align: center; 
}

.helpContext
{
    position: absolute;
    display: none; 
    width: 220px; 
    height: 430px; 
    padding: 0; 
    margin: 0 2px 0 0; 
    font-size: 14px;
    color: black;
    border: 1px solid black;
    background-color: #CFD9F4; 
    z-index: 999; 
}

.helpContextItem
{
   width: 220px; 
   display: block; 
}
.helpContextKey
{
   width: 90px; 
   font-weight: bold;
   text-align: left; 
}

.helpContextKeyValue
{
   position: absolute;
   width: auto; 
   left: 120px; 
   text-align: left; 
}
/***********************************************************/
#main {
    position: relative; 
    margin: 50px auto; 
    padding: 0px;
    width: 735px;
    background-color: #FFFFF0;
}

.docSection {
    margin: 0;
    padding: 0;
    background-color: #DDEAFF;
}   

.keyHead {
    padding: 16px 0 4px 2px;
    border-bottom: 1px solid #CCCCCC;
    font-size: 18px;
    font-weight: bold;
    width: auto;
}

.keyType {
    font-size: 15px;
    font-weight: bold;
    width: 200px;
}

.keyCode {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #555555;
    width: auto; 
    left: 200px;
    text-align: left;
}

