/* same as menuitem-non-iconic but make it's easy for all menuitems */
#fireinputHelp menuitem {
    -moz-binding: url("chrome://global/content/bindings/menu.xml#menubutton-item");
}

keyinputbox {
    -moz-binding: url("chrome://fireinput/content/bindings.xml#keyinputbox") !important; 
}

textbox.keyinputbox { 
    background-color:#660000; 
}

#fireinputMenu {
    -moz-appearance: none;
    margin: 0; 
    border: none !important;
    cursor: pointer;
    background: transparent !important;
    list-style-image: url("chrome://fireinput/skin/fireinput_run.png");
}

#fireinputMenu:hover {
    list-style-image: url("chrome://fireinput/skin/fireinput_runHover.png");
}

#fireinputMenu:hover:active {
    list-style-image: url("chrome://fireinput/skin/fireinput_runHover.png");
}

#fireinputToggleIMEButton {
    margin: 0 ;
    text-align: center;
}

#fireinputToggleIMEButton:hover {
    cursor: pointer;
}

#fireinputToggleIMEButton:hover:active {
    cursor: pointer;
}

#fireinputIMEBarCloseButton {
    margin: 0 0 0 0;
    -moz-appearance: none;
    border:none !important;
    background: transparent !important;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://fireinput/skin/close.png");
    cursor: pointer; 
}

#fireinputIMEBarCloseButton:hover {
    list-style-image: url("chrome://fireinput/skin/closeHover.png");
}

#fireinputIMEBarCloseButton:hover:active {
    list-style-image: url("chrome://fireinput/skin/closeHover.png");
}

#fireinputToggleHalfButton {
    margin: 0 0 0 0;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://fireinput/skin/half-letter.png");
}

#fireinputToggleHalfButton:hover {
    cursor: pointer;
}

#fireinputToggleHalfButton:hover:active {
    cursor: pointer;
}

#fireinputTogglePunctButton {
    margin: 0 0 0 0;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://fireinput/skin/full-punct.png");
}

#fireinputTogglePunctButton:hover {
    cursor: pointer;
}

#fireinputTogglePunctButton:hover:active {
    cursor: pointer;
}

#fireinputPrevSelButton[disabled="true"] {
    list-style-image: none; 
}

#fireinputPrevSelButton[disabled="true"]:hover {
    list-style-image: none; 
}

#fireinputPrevSelButton[disabled="true"]:hover:active {
    list-style-image: none; 
}

#fireinputPrevSelButton {
    -moz-appearance: none;
    border:none !important;
    background: transparent !important;
    list-style-image: url("chrome://fireinput/skin/fp-prev.png");
}

#fireinputPrevSelButton:hover {
    list-style-image: url("chrome://fireinput/skin/fp-prevHover.png");
}

#fireinputPrevSelButton:hover:active {
    list-style-image: url("chrome://fireinput/skin/fp-prevHover.png");
}

#fireinputNextSelButton[disabled="true"] {
    list-style-image: none;
}

#fireinputNextSelButton[disabled="true"]:hover {
    list-style-image: none;
}

#fireinputNextSelButton[disabled="true"]:hover:active {
    list-style-image: none;
}

#fireinputNextSelButton {
    -moz-appearance: none;
    border:none !important;
    background: transparent !important;
    list-style-image: url("chrome://fireinput/skin/fp-next.png");
}

#fireinputNextSelButton:hover {
    list-style-image: url("chrome://fireinput/skin/fp-nextHover.png");
}

#fireinputNextSelButton:hover:active {
    list-style-image: url("chrome://fireinput/skin/fp-nextHover.png");
}

#fireinputOptionBox {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#mainPopupSet, #fireinputIMEContainer {
  -moz-user-focus: normal !important;
  background-color: white; 
}

#fireinputInputMethod, #fireinputMenu, #fireinputSpecialCharMenu,#fireinputEmotionMenu {
    -moz-binding: url("chrome://fireinput/content/bindings.xml#buttonmenu");
}

.toolbarbuttonStyle {
    -moz-appearance: none;
    margin: 0; 
    border: none !important;
    background: transparent !important;
}

.toolbarbuttonStyle:hover {
    cursor: pointer;
    color: blue;
}

.toolbarbuttonStyle:hover:active {
    cursor: pointer;
    color: blue;
}

.specialcharlabel {
    text-align: center;
    margin: 1px 2px 1px 2px; 
    padding: 1px 5px 1px 5px; 
    font-size: 15px; 
    color: blue; 
    background: none; 
}

.specialcharlabel:hover {
    background: #87CEFA; 
}

.specialcharlabel:hover:active {
    background: #87CEFA; 
}

.specialcharbar {
    margin: 0 2px;
    font-size: 15px;
    background: none;
}

.composeeditorlabel {
    text-align: left;
    padding: 5px 1px 5px 1px; 
    margin: 0px; 
    background: #E5E8EC;
    font-size: 14px;
    text-decoration: underline;
}

.composeeditorlabel:hover {
    background: #87CEFA;
}

.composeeditorlabel:hover:active {
    background: #87CEFA;
}

.composeeditorboxview {
    text-align: left;
    margin: 3px 1px 0px 0px;
    background: none;
    font-size: 12px;
    color: blue; 
}

.composeeditorboxviewfirst {
    text-align: left;
    margin: 3px 1px 0px 3px;
    background: none;
    font-size: 12px;
    color: blue; 
}
.composeeditorbox {
    -moz-appearance: none;
    margin: 0px; 
    border: 1px solid;
    -moz-border-top-colors: #96969D !important;
    -moz-border-right-colors: #96969D !important;
    -moz-border-bottom-colors: #96969D !important;
    -moz-border-left-colors: #96969D !important;
    padding: 2px 0 1px 3px;
    background: #FFFFF0; 
    font-family: icon; 
    font-size: 12px;
}

.fireinputSearchbox {
    -moz-appearance: none;
    margin: 4px 2px 4px 3px;
    border: 1px solid;
    -moz-border-top-colors: #96969D !important;
    -moz-border-right-colors: #96969D !important;
    -moz-border-bottom-colors: #96969D !important;
    -moz-border-left-colors: #96969D !important;
    padding: 1px 0 1px 2px;
    background: #FFFFF0;
    font: icon;
    width: 120px; 
    font-size: 14px;
    color: #6F767C; 
}

.fireinputSearchbox:hover {
    -moz-border-top-colors: #7197D3 !important;
    -moz-border-right-colors: #7197D3 !important;
    -moz-border-bottom-colors: #7197D3 !important;
    -moz-border-left-colors: #7197D3 !important;
}

.fireinputSearchbox:hover:active {
    -moz-border-top-colors: #7197D3 !important;
    -moz-border-right-colors: #7197D3 !important;
    -moz-border-bottom-colors: #7197D3 !important;
    -moz-border-left-colors: #7197D3 !important;
}

#fireinputSearchButton {
    margin: 6px 2px 4px 2px;
}

#fireinputSearchButton:hover {
   color: blue; 
   cursor: pointer; 
}
#fireinputSearchButton:hover:active {
   color: blue; 
   cursor: pointer; 
}

.largetablelabel {
    margin:  4px 3px 0px 3px; 
    font-size: 12px; 
}

#fireinputNewVersion, #fireinputMessage {
    cursor: pointer; 
    color: #DAACA5; 
    -moz-appearance: none;
    border:none !important;
    font-size: 90%;
}

#fireinputNewVersion:hover {
    color: red;
}

#fireinputMessage {
   color: red; 
}


#fireinputTableUpdate {
    cursor: pointer; 
    color: #95BA9A; 
    -moz-appearance: none;
    border:none !important;
    font-size: 90%;
    list-style-image: url("chrome://fireinput/skin/blue-loading.gif");  
}

#fireinputTableUpdate:hover {
    color: green; 
}
	
/* all for theme */
#fireinputIMEContainerBox[fireinputtheme] {
    -moz-appearance: none !important;
    background-repeat: no-repeat !important; 
    background-position: top right !important;
    background-color: transparent !important; 
    background-image: none !important;
    color: white; 
}

#fireinputIMEContainerBox[fireinputtheme] #fireinputComposeField .composeeditorboxview {
    margin: 0px;
    padding: 3px 1px 5px 1px !important;
    background: transparent !important; 
    color: white; 
}

#fireinputIMEContainerBox[fireinputtheme] #fireinputField{
    margin: 0;
    border: none; 
    background: transparent !important; 
    padding: 1px 0 1px 3px;
    font: icon;
    font-size: 15px;
    min-width: 100px;
}

#fireinputIMEBar_bottom[fireinputtheme] {
    -moz-appearance: none !important;
    border-bottom: 0 !important;
    background-repeat: no-repeat !important; 
    background-position: top right !important;
    background-color: transparent !important; 
    background-image: none !important;
}

#fireinputIMEBar_bottom[fireinputtheme] menulist, #fireinputIMEBar_bottom[fireinputtheme] toolbarseparator {
    -moz-appearance: none !important;
    border-bottom: 0 !important;
    background-color: transparent !important;
}

#fireinputIMEBar_top[fireinputtheme] {
    -moz-appearance: none !important;
    border-bottom: 0 !important;
    background-repeat: no-repeat !important;
    background-position: top right !important;
    background-color: transparent !important;
    background-image: none !important;
}

#fireinputIMEBar_top[fireinputtheme] menulist, #fireinputIMEBar_top[fireinputtheme] toolbarseparator {
    -moz-appearance: none !important;
    border-bottom: 0 !important;
    background-color: transparent !important;
}

/* floating panel */
.fireinputIMEBar_floating
{
   position: fixed;
   top: 100px;
   width: auto;
   margin: 0px !important; 
   padding: 0px 3px 0 0!important; 
   background-image: -moz-radial-gradient(left top, ellipse farthest-side, rgba(180,218,244,1), rgba(180,218,244,.1));
   background-size: 100% 50px;
   background-repeat: no-repeat;
   border:1px solid rgba(0,0,0,0.5) !important;
}

.fireinputIMEBar_floating hbox > toolbarbutton {
   max-height: 30px !important; 
}

.fireinputIMEBar_floating #fireinputMoveButton {
   display: block !important; 
   width: 1px; 
   border:1px outset rgba(0,0,0,0.5) !important;
   cursor:move; 
   margin-right:5px;
}
.fireinputIMEBar_floating[fireinputtheme] {
    -moz-appearance: none !important;
    background-repeat: no-repeat !important;
    background-position: top right !important;
    background-color: transparent !important;
    background-image: none !important;
    background-size: auto auto !important; 
}

.fireinputIMEBar_floating[fireinputtheme] menulist, .fireinputIMEBar_floating[fireinputtheme] toolbarseparator {
    -moz-appearance: none !important;
    background-color: transparent !important;
}

.fireinputIMEBar_floating.right
{
   right: 3px;
}

.fireinputIMEBar_floating.right.vscroll
{
   right: 17px;
}

.fireinputIMEBar_floating.left
{
   left: 5px;
}

.fireinputIMEBar_floating #fireinputSpecialCharMenu
{
   display:none;
}

.fireinputIMEBar_floating #fireinputEmotionMenu
{
   display:none;
}

.fireinputIMEBar_floating #fireinputSearchButton, .fireinputIMEBar_floating #fireinputSearchbox, .fireinputIMEBar_floating #fireinputMessagePanel {
   display:none;
}

.fireinputIMEBar_floating hbox > toolbarseparator {
   display:none;
}


