/********** Tab widget *********/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*** TAB: TOP <tab> ***/

tab
{
  -moz-appearance: tab;
  -moz-box-align: stretch;
  -moz-box-pack: center;  
  color: #000000;
  margin: 2px 1px 2px 0px;
  padding: 1px; 
  height: 22px !important;
  min-width: 1px !important;
  text-align: center;
  -moz-border-radius-topleft: 5px !important;
  -moz-border-radius-topright: 5px !important;
  -moz-background-clip: padding !important;
}


.tab-text {
  font-weight: normal !important;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;  
  margin-top: 2px !important;
}

tab[selected="true"] > hbox > label.tab-text
{
  font-weight: bold !important;
}



tabs {
  padding: 2px;
  margin:  5px 0px 3px 0px;
}


.tabs-left {
	-moz-box-flex: 1 !important;
}


/* top tabs */
tabbox[orient="vertical"]{ 
  padding: 0px;
  margin: 1px;
}

tabbox { 
  border: none;
}

tabpanels {
  -moz-appearance: tabpanels;
  border-top: 1px outset white;   
  padding: 0px; 
  background-color: #CCCCAA !important; 
  margin: 2px 200px 0px 200px; 
  width: 200px;
}

tabpanel {
  background-color: #FFFFF0; 
  margin: 0px; 
  padding:  0px; 
  border: none;
}

.tab-border-top-left, .tabs-left, .tabs-right, .tab-border-top-right {
	-moz-box-flex: 1 !important;
}

.tab-image-middle {
	-moz-box-flex: 0 !important;
}

tab:not([selected="true"]) {
  -moz-background-clip: padding !important;
}
tab:hover:not([selected="true"]) {
  -moz-border-radius-topright: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  -moz-background-clip: padding !important;
}
tab[selected="true"] {
  -moz-user-focus: normal;
  -moz-border-radius-topright: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  -moz-background-clip: padding !important;
}

