statusbarpanel#fireinputStatusBar {
  list-style-image: url("chrome://fireinput/skin/fireinput.png");
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  cursor: pointer; 
}

#fireinput-toolbarbutton, #fireinput-tabtoolbarbutton{
  list-style-image: url("chrome://fireinput/skin/fireinput.png");
}

toolbar[iconsize="small"] #fireinput-toolbarbutton > .toolbarbutton-icon {
  list-style-image: url("chrome://fireinput/skin/fireinput18.png");
  width: 18px;
  height: 18px;
}


