
.charinputlabel {
    text-align: left; 
    margin: 1px 3px 0px 3px; 
    background: none; 
    font-size: 15px; 
}

.charinputlabel:hover {
    background: #87CEFA; 
}

.charinputlabel:hover:active {
    background: #87CEFA; 
}

#fireinputField {
    -moz-appearance: none !important;
    margin: 0; 
    border: 1px solid #7F7357;
    -moz-border-top-colors: #7F7357 !important;
    -moz-border-right-colors: #7F7357 !important;
    -moz-border-bottom-colors: #7F7357 !important;
    -moz-border-left-colors: #7F7357 !important;
    padding: 0px 0 0px 3px;
    background: #E7EBF2;
    font-family: Arial,Tahoma;
    font-size: 15px;
    min-width: 100px; 
}

